body,
html {
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#my-store-61706777 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
