body {
  background-color: #F1F7FC;
}

/** View Content Section **/
#container {
  position: relative;
  top: 3.5rem;
}

#my-store-61706777 {
  position: absolute;
  top: 1.5rem;
  overflow-y: hidden;
}

.content {
  position: absolute;
  top: 1rem;
  width: 100%;
}

/** Navbar Section **/
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3000;
}

.main-brand {
  object-fit: cover;
  width: 7.5rem;
}

/** Carousel Section **/
.carousel-item:nth-child(4) .container .carousel-caption h1,
.carousel-item:nth-child(4) .container .carousel-caption p {
  color: #333;
  font-weight: 550;
  text-shadow: -3px 0px 7px #ffffff;
}

/** Eggshell Secret Section **/
.eggshell-secret {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem;
}

.eggshell-secret-img {
  object-fit: cover;
  max-width: 100%;
}

.eggshell-secret-intro {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.eggshell-secret-title {
  font-size: 2.25rem;
  font-weight: 550;
  margin-bottom: 3rem;
}

.eggshell-secret-fields {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.eggshell-secret-fields li {
  font-size: 1.25rem;
  margin-top: 1rem;
}

/** Eggshell Compare Section **/
.compare {
  padding: 2rem;
  text-align: center;
}

.compare-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: -0.5rem;
  margin-top: 1rem;
}

.compare h1 {
  font-weight: bold;
}

.compare-card {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  border: 1.5px solid #ffffff80;
  border-radius: 2px;
  margin: 0.5rem;
}

.stars {
  border: 1.5px solid #ffffff80;
  border-radius: 2px;
}

.compare-intro {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1rem;
}

.pig-protein {
  width: 12rem;
  height: 16rem;
  background-color: #01828F;
}

.pig-protein .stars {
  width: 13.5rem;
  margin-left: -1.8rem;
  background-color: #006069;
}

.eggshell-protein {
  width: 16rem;
  height: 20rem;
  background-color: #88C3B0;
}

.eggshell-protein .stars {
  width: 18rem;
  margin-left: -2rem;
  margin-top: 1rem;
  background-color: #53A58A;
}

.eggshell-protein .stars,
.eggshell-protein .compare-intro {
  font-size: 1.3rem;
}

.fish-protein {
  width: 12rem;
  height: 16rem;
  background-color: #09678A;
}

.fish-protein .stars {
  width: 13.5rem;
  margin-left: -1.8rem;
  background-color: #064D67;
}

@media screen and (min-width: 576px) {
  .compare-wrapper {
    margin-top: 2rem;
  }

  .compare-card {
    padding: 1.25rem;
  }

  .compare-intro {
    font-size: 1.25rem;
  }

  .pig-protein {
    width: 15rem;
    height: 21.5rem;
  }

  .pig-protein .stars {
    width: 17rem;
    margin-left: -2.35rem;
  }

  .eggshell-protein {
    width: 20rem;
    height: 25rem;
  }

  .eggshell-protein .stars {
    width: 24rem;
    margin-left: -3.35rem;
    margin-top: 1rem;
  }

  .eggshell-protein .stars,
  .eggshell-protein .compare-intro {
    font-size: 1.4rem;
  }

  .fish-protein {
    width: 15rem;
    height: 21.5rem;
  }

  .fish-protein .stars {
    width: 17rem;
    margin-left: -2.35rem;
  }
}

/** Brand Section **/
#brand {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
}

.brand-img {
  object-fit: cover;
  max-width: 100%;
  width: 40rem;
}

.brand-img-1 {
  margin: 1rem 0;
}

.brand-img-2 {
  width: 60rem;
  margin-top: 1rem;
}

.brand-content {
  text-align: center;
  margin-top: 1.5rem; 
}

@media screen and (min-width: 576px) {
  .brand-content {
    width: 70%;
    font-size: 1.5rem;
    margin: 4rem 0;
  }
}

/** Advantage Section **/
.advantage {
  padding: 2rem;
}

.second-title {
  margin: 2.5rem 0;
  color: #01828F;
}

.pros-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: -0.5rem;
}

.pros {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--bs-primary);
  margin: 0.25rem;
}

.pros p {
  font-size: 1.25rem;
  color: #fff;
}

@media screen and (min-width: 576px) {
  .pros {
    width: 15rem;
    height: 15rem;
  }

  .pros p {
    font-size: 1.5rem;
  }
}